# Prevent execution of any scripts in the uploads directory
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|php8|phps|phar|cgi|pl|py|sh)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

Options -ExecCGI -Indexes
